*{
    margin: 0;
    padding: 0;
}
body {
    margin: 2px;
    padding: 2px;
    background-image: linear-gradient(to bottom right, red, black);
    background-repeat:no-repeat;
    background-size: cover;
    height: 100vh;
}
ul{
    color: white;
}

.navbar:hover {
    background-color: white;
    color: purple;
}

a:hover {
    color: white;

}